<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:punterDB</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">sa</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.shunya.punter.jpa.TaskData"/>
        <mapping class="com.shunya.punter.jpa.ProcessData"/>
        <mapping class="com.shunya.punter.jpa.ProcessHistory"/>
        <mapping class="com.shunya.punter.jpa.TaskHistory"/>
        <mapping class="com.shunya.kb.jpa.Document"/>
        <mapping class="com.shunya.kb.jpa.Category"/>
        <mapping class="com.shunya.kb.jpa.Attachment"/>
        <mapping class="com.shunya.kb.jpa.SynonymWord"/>
    </session-factory>
</hibernate-configuration>